<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <!-- <script src="/public/script.js"></script> -->
    <link rel="stylesheet" href="/login.css" />
    <link rel="stylesheet" href="/alert.css" />
  </head>
  <body>
    <% if (success_msg && success_msg.length > 0) { %>
    <div class="custom-alert-success"><%= success_msg %></div>
    <% } %> <% if(error_msg && error_msg.length >0) { %>
    <div class="custom-alert"><%= error_msg %></div>
    <%}%> <% if(error && error.length > 0) { %>
    <div class="custom-alert"><%= error_msg %></div>
    <% }%>

    <!-- <input
      type="radio"
      value="user"
      name="role"
      id="user"
      onclick="updateHiddenInput(this)"
    />
    <label for="user">User</label>
    <input
      type="radio"
      value="advisor"
      name="role"
      id="advisor"
      onclick="updateHiddenInput(this)"
    />
    <label for="advisor">Advisor</label>
    <input
      type="radio"
      value="admin"
      name="role"
      id="admin"
      onclick="updateHiddenInput(this)"
    />
    <label for="admn">Admin</label> -->
    <div class="container">
      <h2>Register On InvestRight</h2>
      <form action="/auth/register" method="post" id="signupForm">
        <input
          id="name"
          type="text"
          name="name"
          placeholder="User Name"
          required
        />
        <input
          id="email"
          type="text"
          name="email"
          placeholder="Email"
          required
        />
        <input type="hidden" name="role" id="role" value="user" />
        <input
          id="securityPin"
          type="password"
          name="securityPin"
          placeholder="Security Pin"
          required
        />
        <input
          id="password"
          type="password"
          name="password"
          placeholder="password"
          required
        />
        <button type="submit">Register</button>
      </form>
      <p class="signup-dropdown">
        Don't have an account? <a href="/auth/login">Login</a>
      </p>
    </div>
  </body>
</html>
