<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <!-- <script src="/public/script.js"></script> -->
    <link rel="stylesheet" href="/signup.css" />
  </head>
  <body>
    <!-- <input
      type="radio"
      value="user"
      name="role"
      id="user"
      onclick="updateHiddenInput(this)"
    />
    <label for="user">User</label>
    <input
      type="radio"
      value="advisor"
      name="role"
      id="advisor"
      onclick="updateHiddenInput(this)"
    />
    <label for="advisor">Advisor</label>
    <input
      type="radio"
      value="admin"
      name="role"
      id="admin"
      onclick="updateHiddenInput(this)"
    />
    <label for="admn">Admin</label> -->
    <div class="signup-container">
      <h2>Register</h2>
      <form action="/auth/register" method="post" id="signupForm">
        <input
          id="name"
          type="text"
          name="name"
          placeholder="User Name"
          required
        />
        <input
          id="email"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
        <input type="hidden" name="role" id="role" value="user" />
        <input
          id="securityPin"
          type="password"
          name="securityPin"
          placeholder="Security Pin"
          required
        />
        <input
          is="password"
          type="password"
          name="password"
          placeholder="password"
          required
        />
        <button type="submit">Register</button>
      </form>
      <p>Already have an account? <a href="/auth/login">Login</a></p>
    </div>
  </body>
  <!-- <script>
    function updateHiddenInput(radio) {
      document.getElementById("role").value = radio.value;
      if (radio.value != "advisor") {
        document.getElementById("regNo").style.display = "none";
        document.getElementById("contactPerson").style.display = "none";
        document.getElementById("location").style.display = "none";
      }
    }
    document
      .getElementById("admin")
      .addEventListener("click", updateHiddenInput(radio));
  </script> -->
</html>
